PORT=3001
NODE_ENV=production
JWT_SECRET=your_jwt_secret_here
MONGODB_URI=your_mongodb_connection_string_here
CLIENT_ORIGIN=https://3d-model-finder.netlify.app
THINGIVERSE_TOKEN=your_thingiverse_token_here